@charset "utf-8";
body{
	background:#A3A3A3
}

div.mainbox{
	width: 100%;
	height: 100%;
}
div.first_button{
	width: 367px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

div.first_button a{
	text-decoration: none;
	font-size: 30px;
	color: black;
}
div.first_button button{
	background: gray;
	border-radius: 10px;
}


