@charset "utf-8";
body{
	background:#A3A3A3
}
h1.sublable{
	text-align: center;
	margin: 40px auto 40px auto;
	color: dimgray;
}
.menue{
	width: 100%;
	background-color: darkslategray;
	float: left;
	margin-top: 0px;
	border-radius: 10px
	
}
ul{
	list-style-type: none;
	background-color: lightgray;
	margin: 0;
	width: 100%;
	padding: 0px;
}
li{
	float: left;
	height: 64px;
	display: block; 
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	
}

li a{
	text-decoration: none;
	padding:15px;
	display:block;
	color: black;
}
li :hover{
	background-color: lightslategray;
}
li ul{
	display:none;
}
li:hover >ul{
	display:block;
	position:relative;
}
li ul li{
	background-color: darkslategray;
	color: black;
	border-radius: 5px;
	margin-bottom: 3px;
	float: none;
	height: 40px;
	transition:all 0.25s;

}
li ul li:hover{
	background-color: silver;
	margin-left: 5px;
}
.sumbutton{
	padding-top: 0px;
	padding-bottom: 6px;
}



.calc_container{
	width: 860px;
	margin: 0px auto 0px auto;
}
.submit{
	font-size: 25px;
	background-color: darkslategray;
	border-radius: 10px;
	cursor: pointer;
	float: left;
}
.submit:hover{
	transform: scale(1.02)
}
#times{
	font-size: 25px;
	background:darkslategray;
	border-radius: 10px;
	float: left;
}
#result{
	border:none;
	font-size: 30px;
	width: 350px;
	margin-top: 0px;
	margin-left: 500px;
	margin-right: auto;
	border-radius: 10px;
	background-color:darkslategray;
	padding-left: 10px;
	color: lightslategray
	}