@charset "utf-8";
body{
	background:linear-gradient(45deg,white,gray,white);
}

img{
	width: 300px;
	height: 200px;
	margin: 10px;
	border-radius: 50px;
	transition: 0.9s 0s;
	cursor: pointer;
}
img:hover{
	border-radius: 10px;
}
.images{
	width: 310px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
div.main div.images p{
	margin-top: 0px;
	text-align: center;
	font-size: 30px;
}
div.main div.images{
	float: left;
}
.menue{
	width: 100%;
	background-color: darkslategray;
	float: left;
	margin-top: 0px;
	border-radius: 10px
	
}
ul{
	list-style-type: none;
	background-color: lightgray;
	margin: 0;
	width: 100%;
	padding: 0px;
}
li{
	float: left;
	height: 64px;
	display: block; 
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	
}

li a{
	text-decoration: none;
	padding:15px;
	display:block;
	color: black;
}
li :hover{
	background-color: lightslategray;
}
li ul{
	display:none;
}
li:hover >ul{
	display:block;
	position:relative;
}
li ul li{
	background-color: darkslategray;
	color: black;
	border-radius: 5px;
	margin-bottom: 3px;
	float: none;
	height: 40px;
	transition:all 0.25s;

}
li ul li:hover{
	background-color: silver;
	margin-left: 5px;
}
.sumbutton{
	padding-top: 0px;
	padding-bottom: 6px;
}