@charset "utf-8";
body{
	background:linear-gradient(45deg,white,gray,white);
}
h1{
	text-align: center;
	filter: brightness(100%);
	font-family:"Times New Roman";
}
img{
	width: 300px;
	height: 200px;
	margin: 10px;
	border-radius: 50px;
	transition: 0.9s 0s;
	cursor: pointer;
}
img:hover{
	border-radius: 10px;
}
.images{
	width: 310px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
div.main div.images p{
	margin-top: 0px;
	text-align: center;
	font-size: 30px;
}
div.main div.images{
	float: left;
}
div.home{
	direction: ltr;
	width: 100%;
	height: auto;
	border: solid thin gray;
	border-radius: 10px;
	float: left;
}
div.home button{
	cursor: pointer;
	font-size: 30px;
	background-color: gray;
	border-radius: 10px;
	margin: 10px;
	color: #3A3A3A
}
div.home button:hover{
	color: black;
}
